@page "/"
@inject IStringLocalizer<Index> localize

<PageTitle>@localize.PageTitle()</PageTitle>

<h1>@localize.Hello_world()</h1>

@localize.Welcome_to_your_new_app__now(DateTimeOffset.Now)

<SurveyPrompt Title="How is Blazor working for you?" />
