@page "/"
@using Microsoft.Extensions.Localization
@using TypealizR.CodeFirst.Abstractions
@inject IStrings my
<PageTitle>Home</PageTitle>

<h1>@my.Title</h1>
<h2>@my.Title2</h2>


Welcome to your new app.
