# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: samples

on:
  push:
    branches: [ "main", "releases/*" ]
  pull_request:
    branches: [ "main", "releases/*" ]

jobs:
  build:
    strategy:
      matrix:
        sdk: [
          8.x,
          9.x
        ]
        os: [
          ubuntu-latest,
          windows-latest
        ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version:  ${{ matrix.sdk }}
      - name: restore it
        run: dotnet restore samples/Samples.sln
      - name: build it
        run: dotnet build samples/Samples.sln --no-restore
  sdk-compat:
    needs: build
    strategy:
      fail-fast: false
      matrix:
        sdk: [
          #8.0.21
          8.0.415, 
          8.0.318,
          8.0.121,
          #8.0.20
          8.0.414,
          8.0.317,
          8.0.120,
          #8.0.19
          8.0.413,
          8.0.316,
          8.0.119,
          #8.0.18
          8.0.412, 
          8.0.315,
          8.0.118,
          #8.0.17
          8.0.411, 
          8.0.314,
          8.0.117,
          #8.0.16
          8.0.410, 
          8.0.409,
          8.0.313,
          8.0.312,
          8.0.116,
          #8.0.15
          8.0.408,
          8.0.311,
          8.0.115,
          #8.0.14
          8.0.407, 
          8.0.310,
          8.0.114,
          #8.0.13
          8.0.406, 
          8.0.309,
          8.0.113,
          #8.0.12
          8.0.405, 
          8.0.308,
          8.0.112,
          #8.0.11
          8.0.404, 
          8.0.307,
          8.0.111,
          #8.0.10
          8.0.403, 
          8.0.306,
          8.0.110,
          #8.0.8
          8.0.304, 
          8.0.402,
          8.0.401,
          8.0.400,
          8.0.108,
          #8.0.7
          8.0.303, 
          8.0.107,
          #8.0.6
          8.0.302, 
          8.0.301,
          8.0.206,
          8.0.106,
          #8.0.5
          8.0.300, 
          8.0.205,
          8.0.105,
          #8.0.4
          8.0.204, 
          8.0.104,
          #8.0.3
          8.0.203,
          8.0.202,
          8.0.103,
          #8.0.2
          8.0.201,
          8.0.200,
          8.0.102,
          #8.0.1
          8.0.101,
          #8.0.0
          8.0.100, 
           #9.0.10
          9.0.306,
          9.0.111,
          #9.0.9
          9.0.305, 
          9.0.110,
          #9.0.8
          9.0.304, 
          9.0.109,
          #9.0.7
          9.0.303,
          9.0.302,
          9.0.108,
          #9.0.6
          9.0.301,
          9.0.205,
          9.0.107,
          #9.0.5
          9.0.300, 
          9.0.204,
          9.0.106,
          #9.0.4
          9.0.203,
          9.0.105,
          #9.0.3
          9.0.202, 
          9.0.201,
          9.0.104,
          #9.0.2
          9.0.200, 
          9.0.103,
          #9.0.1
          9.0.102,
          #9.0.0
          9.0.101, 
          9.0.100,
        ]
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version:  ${{ matrix.sdk }}

    - name: restore it
      run: dotnet restore samples/Samples.sln
    - name: build it
      run: dotnet build samples/Samples.sln --no-restore
    - name: test it
      run: dotnet test samples/Samples.sln --no-build
