# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: samples

on:
  push:
    branches: [ "main", "releases/*" ]
  pull_request:
    branches: [ "main", "releases/*" ]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        sdk: [
          8.x,
          8.0.21,
          8.0.20,
          8.0.19,
          8.0.18,
          8.0.17,
          8.0.16,
          8.0.15,
          8.0.14,
          8.0.13,
          8.0.12,
          8.0.11,
          8.0.10,
          8.0.8,
          8.0.7,
          8.0.6,
          8.0.5,
          8.0.4,
          8.0.3,
          8.0.2,
          8.0.1,
          8.0.0,
          9.x,
          9.0.10,
          9.0.9,
          9.0.8,
          9.0.7,
          9.0.6,
          9.0.5,
          9.0.4,
          9.0.3,
          9.0.2,
          9.0.1,
          9.0.0,
        ]
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version:  ${{ matrix.sdk }}

    - name: Restore dependencies
      run: dotnet restore samples/Samples.sln
    - name: Build
      run: dotnet build samples/Samples.sln --no-restore
    - name: Test
      run: dotnet test samples/Samples.sln --no-build
